Repository kserve/kserve, pull requests merged in 2025-08, with the labels that each got.

#4604 fix(deps): adds missing LLMInferenceService types for python imports
  python/kserve/kserve/__init__.py
Labels: lgtm, llm-crd

#4636 [Followup] Improve the stop/resume Inference Service tests and status
  pkg/controller/v1beta1/inferenceservice/controller.go
  pkg/controller/v1beta1/inferenceservice/controller_test.go
Labels: lgtm, approved

#4616 llm-d workload reconciliation
  charts/llmisvc-resources/templates/clusterrole.yaml
  cmd/llmisvc/main.go
  config/overlays/test/configmap/inferenceservice.yaml
  config/rbac/llmisvc/role.yaml
  go.mod
  go.sum
  pkg/apis/serving/v1beta1/configmap.go
  pkg/constants/constants.go
  pkg/controller/v1alpha1/llmisvc/controller.go
  pkg/controller/v1alpha1/llmisvc/lifecycle_crud.go
  pkg/controller/v1alpha1/llmisvc/scheduler.go
  pkg/controller/v1alpha1/llmisvc/workload.go
  pkg/controller/v1alpha1/llmisvc/workload_multi_node.go
  pkg/controller/v1alpha1/llmisvc/workload_single_node.go
  pkg/controller/v1alpha1/llmisvc/workload_storage.go
  pkg/controller/v1alpha1/llmisvc/workload_tls_self_signed.go
  pkg/controller/v1beta1/inferenceservice/reconcilers/cabundleconfigmap/cabundle_configmap_reconciler.go
  pkg/credentials/service_account_credentials.go
  pkg/credentials/service_account_credentials_test.go
  pkg/types/config.go
  pkg/utils/storage.go
  pkg/utils/utils.go
  pkg/webhook/admission/pod/mutator.go
  pkg/webhook/admission/pod/mutator_test.go
  pkg/webhook/admission/pod/storage_initializer_injector.go
  pkg/webhook/admission/pod/storage_initializer_injector_test.go
  test/scripts/gh-actions/setup-deps.sh
Labels: llm-crd

#4617 Llm d http route reconciler
  pkg/controller/v1alpha1/llmisvc/controller.go
  pkg/controller/v1alpha1/llmisvc/controller_types.go
  pkg/controller/v1alpha1/llmisvc/fixture/gwapi_builders.go
  pkg/controller/v1alpha1/llmisvc/fixture/llmisvc_builders.go
  pkg/controller/v1alpha1/llmisvc/fixture/required_resources.go
  pkg/controller/v1alpha1/llmisvc/router.go
  pkg/controller/v1alpha1/llmisvc/router_discovery.go
  pkg/controller/v1alpha1/llmisvc/router_discovery_filter.go
  pkg/controller/v1alpha1/llmisvc/router_discovery_test.go
  pkg/controller/v1alpha1/llmisvc/workload_single_node.go
Labels: llm-crd

#4630 feat(webhook): introduces Validating Webhook for LLMInferenceServiceConfig
  Makefile
  charts/kserve-resources/templates/webhookconfiguration.yaml
  charts/llmisvc-crd/templates/serving.kserve.io_llminferenceserviceconfigs.yaml
  config/crd/full/kustomization.yaml
  config/crd/full/serving.kserve.io_llminferenceserviceconfigs.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/default/llmisvcconfig_validatingwebhook_cainjection_patch.yaml
  config/webhook/manifests.yaml
  go.mod
  pkg/constants/constants.go
  pkg/controller/v1alpha1/llmisvc/config_loader.go
  pkg/controller/v1alpha1/llmisvc/controller.go
  pkg/controller/v1alpha1/llmisvc/fixture/envtest.go
  pkg/controller/v1alpha1/llmisvc/fixture/required_resources.go
  pkg/controller/v1alpha1/llmisvc/webhook/config_validation_test.go
  pkg/controller/v1alpha1/llmisvc/webhook/config_validator.go
  pkg/testing/cleaner.go
  pkg/testing/config.go
  pkg/testing/ctrl.go
  pkg/testing/types.go
  test/crds/serving.kserve.io_all_crds.yaml
  test/webhooks/manifests.yaml
  test/webhooks/service.yaml
Labels: lgtm, approved, llm-crd

#4632 Add logic for LLMISVC controller
  charts/llmisvc-resources/templates/clusterrole.yaml
  config/rbac/llmisvc/role.yaml
  pkg/controller/v1alpha1/llmisvc/config_loader.go
  pkg/controller/v1alpha1/llmisvc/controller.go
  pkg/controller/v1alpha1/llmisvc/suite_test.go
Labels: approved, llm-crd

#4653 fix: allow digests in runtimes' images
  pkg/controller/v1beta1/inferenceservice/utils/utils.go
  pkg/controller/v1beta1/inferenceservice/utils/utils_test.go
Labels: lgtm, approved

#4663 [llmisvc] Improve config merge and update well-known presets
  charts/llmisvc-crd/templates/serving.kserve.io_llminferenceserviceconfigs.yaml
  charts/llmisvc-crd/templates/serving.kserve.io_llminferenceservices.yaml
  charts/llmisvc-resources/templates/config-llm-decode-template.yaml
  charts/llmisvc-resources/templates/config-llm-decode-worker-data-parallel.yaml
  charts/llmisvc-resources/templates/config-llm-prefill-template.yaml
  charts/llmisvc-resources/templates/config-llm-prefill-worker-data-parallel.yaml
  charts/llmisvc-resources/templates/config-llm-router-route.yaml
  charts/llmisvc-resources/templates/config-llm-scheduler.yaml
  charts/llmisvc-resources/templates/config-llm-template.yaml
  charts/llmisvc-resources/templates/config-llm-worker-data-parallel.yaml
  config/crd/full/serving.kserve.io_llminferenceserviceconfigs.yaml
  config/crd/full/serving.kserve.io_llminferenceservices.yaml
  config/llmisvc/config-llm-decode-template.yaml
  config/llmisvc/config-llm-decode-worker-data-parallel.yaml
  config/llmisvc/config-llm-prefill-template.yaml
  config/llmisvc/config-llm-prefill-worker-data-parallel.yaml
  config/llmisvc/config-llm-router-route.yaml
  config/llmisvc/config-llm-scheduler.yaml
  config/llmisvc/config-llm-template.yaml
  config/llmisvc/config-llm-worker-data-parallel.yaml
  config/llmisvc/kustomization.yaml
  pkg/apis/serving/v1alpha1/llm_inference_service_defaults.go
  pkg/apis/serving/v1alpha1/llm_inference_service_types.go
  pkg/apis/serving/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/v1alpha1/llmisvc/config_merge.go
  pkg/controller/v1alpha1/llmisvc/config_merge_test.go
  pkg/controller/v1alpha1/llmisvc/config_presets_test.go
  pkg/testing/httproute_matchers.go
  pkg/testing/log.go
  test/crds/serving.kserve.io_all_crds.yaml
Labels: lgtm, llm-crd
